/* Обнуляющий стиль */
@import "null.css";
/* =================================== */
/* Оболочка */
body {
   background: linear-gradient(0deg, rgba(134,149,199,1) 0%, rgba(41,37,105,1) 40%);
	height: 100%;
	min-width: 1440px;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.rocket {
	position: absolute;
	top: 20%;
	left: 50%;
	z-index: 2;
}
.rocket-body {
	animation-name: bounce;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}
.body {
	background: #963d3d;
	height: 350px;
	width: 110px;
	border-radius:100% 100% 50% 50%;
	-webkit-border-radius:100% 100% 50% 50%;
	-moz-border-radius:100% 100% 50% 50%;
	-ms-border-radius:100% 100% 50% 50%;
	-o-border-radius:100% 100% 50% 50%;
	border-top: 5px solid white;
	outline: 4px solid black;
}
.body::before {
	content: "";
	position: absolute;
	bottom: -14px;
	left: 20px;
	width: 70px;
	height: 18px;
	background-color: #5b4a2f;
	border-radius:1px 1px 15px 15px;
	-webkit-border-radius:1px 1px 15px 15px;
	-moz-border-radius:1px 1px 15px 15px;
	-ms-border-radius:1px 1px 15px 15px;
	-o-border-radius:1px 1px 15px 15px;
	border: 3px solid black;
	z-index: 1;
}
.wing {
   position: absolute;
	bottom: 7px;
	left: -21px;
   width: 150px;
   height: 100px;
   background: #1d3849;
   border-radius:10px 10px 10px 10px;
   -webkit-border-radius:300px 300px 30px 30px;
   -moz-border-radius:10px 10px 10px 10px;
   -ms-border-radius:10px 10px 10px 10px;
   -o-border-radius:10px 10px 10px 10px;
	z-index: -1;
	border-top: 9px solid white;
	outline: 3px solid black;
}

.window {
	position: absolute;
	top: 110px;
	left:30px;
	width: 50px;
	height: 50px;
	border-radius:100%;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-ms-border-radius:100%;
	-o-border-radius:100%;
	background-color: #b9d5de;
	border: 3px solid black;
	outline: 5px solid grey;
}
.exhaust-flame {
	position: absolute;
	bottom: -162px;
	left: 30px;
	z-index: -1;
	width: 50px;
	height: 170px; 
	border-left: 23px solid transparent;
	border-right: 23px solid transparent;
	border-top: 100px solid #fe8f8f;
}

@keyframes bounce {
	0% {
		transform: translate3d(0px, 0px, 0);
		-webkit-transform: translate3d(0px, 0px, 0);
		-moz-transform: translate3d(0px, 0px, 0);
		-ms-transform: translate3d(0px, 0px, 0);
		-o-transform: translate3d(0px, 0px, 0);
}
	50% {
		transform: translate3d(0px, -10px, 0);
		-webkit-transform: translate3d(0px, -10px, 0);
		-moz-transform: translate3d(0px, -10px, 0);
		-ms-transform: translate3d(0px, -10px, 0);
		-o-transform: translate3d(0px, -10px, 0);
}
	100% {
		transform: translate3d(0px, 0px, 0);
		-webkit-transform: translate3d(0px, 0px, 0);
		-moz-transform: translate3d(0px, 0px, 0);
		-ms-transform: translate3d(0px, 0px, 0);
		-o-transform: translate3d(0px, 0px, 0);
}
}
/* ============================= Дым ====================================== */

.vapor li { 
	display: inline-block;
	position: relative;
	width: 5%;
	height: 60px;
	background-color: white;
	border-radius:100%;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-ms-border-radius:100%;
	-o-border-radius:100%;
	z-index: 2;
}
.vapor li:first-child {
	position: absolute;
	position: relative;
	top:800px;
	left:900px;
	width: 80px;
	height: 80px;
	animation: vapor 5s infinite;
	-webkit-animation: vapor 5s infinite;
}
.vapor li:nth-child(2) {
	position: absolute;
	top:600px;
	left: 970px;
	width: 150px;
	height: 150px;
	animation: vapor 3.2s infinite;
	-webkit-animation: vapor 3.2s infinite;
}
.vapor li:nth-child(3) {
	position: absolute;
	top:600px;
	left: 970px;
	width: 120px;
	height: 120px;
	animation: vapor 3s 1s infinite;
	-webkit-animation: vapor 3s 1s infinite;
}
.vapor li:nth-child(4) {
	position: absolute;
	top:600px;
	left: 850px;
	width: 100px;
	height: 100px;
	animation: vapor 4s 2s infinite;
	-webkit-animation: vapor 4s 2s infinite;
}
.vapor li:nth-child(5) {
	position: absolute;
	top:600px;
	left: 950px;
	width: 100px;
	height: 100px;
	animation: vapor 5s infinite;
	-webkit-animation: vapor 5s infinite;
}
.vapor li:nth-child(6) {
	position: absolute;
	top:600px;
	left: 850px;
	width: 200px;
	height: 200px;
	animation: vapor 10s infinite;
	-webkit-animation: vapor 10s infinite;
}
.vapor li:nth-child(7) {
	position: absolute;
	top:600px;
	left: 950px;
	width: 100px;
	height: 100px;
}
.vapor li:nth-child(8) {
	position: absolute;
	top:650px;
	left: 970px;
	width: 110px;
	height: 110px;
	animation: vapor 20s infinite;
}
.vapor li:last-of-type {
	position: absolute;
	top:680px;
	left: 980px;
	width: 130px;
	height: 200px;
	animation: vapor 20s infinite;
}
@keyframes vapor { 
	50% {
	transform: scale(1.5);
	background-color: transparent;
	}
	51% {
	transform: scale(0.8);
	}
	100% {
	background-color: white;
	transform: scale(1)	;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}
} 
/* ============================= Дым ====================================== */
.star li {
	position: absolute;
}
.star li:before,
.star li:after {
	content: '';
	position: absolute;
	background-color: white;
}
.star li:before {
	width: 10px;
	height: 2px;
	border-radius: 50%;
}
.star li:after {
	height: 8px;
	width: 2px;
	left: 30px;
	top: 30px;
}
.star li:first-child {
	top: 500px;
	left: 610px;
	animation: twinkle 0.4s infinite;
}
.star li:nth-child(2) {
	top: 400px;
	left: 760px;
	animation: twinkle 0.5s infinite;
}
.star li:before {
	height: 1px;
	width: 5px;
}
.star li:after {
	width: 1px;
	height: 5px;
	top: 0px;
	left: 333px;
}
.star li:nth-child(3) {
	left: 620px;
	top: 300px;
	animation: twinkle 1s infinite;
}
.star li:nth-child(4) {
	left: 800px;
	top: 200px;
	animation: twinkle 0.5s ease infinite;
}
.star li:nth-child(5) {
	left: 1170px;
	top: 300px;
	animation: twinkle 0.4s ease infinite;
}
.star li:nth-child(6) {
	top: 387px;
	left: 879px;
	animation: twinkle 0.2s infinite;
}
.star li:before {
	height: 1px;
	width: 5px;
}
.star li:after {
	width: 1px;
	height: 5px;
	top: -2px;
	left: 2px;
}
@keyframes twinkle {
	80% {
	transform: scale(1.6);
	opacity: 0.7;
	-webkit-transform: scale(1.6);
	-moz-transform: scale(1.6);
	-ms-transform: scale(1.6);
	-o-transform: scale(1.6);
}
}